/* Benefits */
.benefits {
    background: black;
    width: 100%;
    margin-bottom: 128px;
    margin-top: 128px;
    padding: 36px;
}

.benefits-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.benefits-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.benefits-container svg {
    width: 64px;
    height: 64px;
}

.benefits-container .benefits-text .benefit-primary {
    color: white;
    font-weight: 500;
    font-size: x-large;
    margin-bottom: 0;
    margin-top: 12px;
}

.benefits-container .benefits-text .benefit-secondary {
    color: #5a5a5a;
    font-weight: 300;
    font-size: large;
}

.stars-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.stars-container .benefits-text span {
    color: white;
}

.stars-container .stars svg {
    width: 24px;
    height: 24px;
}

.benefits-separator {
    border-color: #31313157;
    height: 82px;
    margin-inline: 24px;
}



/* Responsive */
/* XL */
@media (min-width: 992px) and (max-width: 1199.98px) {

    /* Benefits */
    .benefits-container .benefits-text .benefit-primary {
        font-size: large;
    }

    .benefits-container .benefits-text .benefit-secondary {
        font-size: smaller;
    }

    .stars-container .stars svg {
        width: 16px;
        height: 16px;
    }

    .stars-container .benefits-text {
        font-size: small;
    }
}

/* XL */
@media (min-width: 768px) and (max-width: 991.98px) {

    /* Benefits */
    .benefits-container .benefits-text .benefit-primary {
        font-size: large;
    }

    .benefits-container .benefits-text .benefit-secondary {
        font-size: smaller;
    }

    .stars-container .stars svg {
        width: 16px;
        height: 16px;
    }

    .stars-container .benefits-text {
        font-size: small;
    }
}

/* MD */
@media (min-width: 481px) and (max-width: 768px) {
    .benefits .benefits-wrap {
        flex-wrap: wrap;
    }
}

/* SM */
@media (max-width: 480px) {
    .benefits .benefits-wrap {
        flex-wrap: wrap;
    }
}