.main-section h1 {
    text-align: center;
    font-weight: 200;
    text-transform: uppercase;
    color: rgba(240, 248, 255, 0.733);
    margin-bottom: 52px;
    margin-top: 52px;
    letter-spacing: 12px;
}

.form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    justify-items: center;
    width: 80%;
    margin-top: 24px;
    margin-bottom: 12px;
    margin-inline: auto;
}

.form-container .input-container {
    width: 100%;
}

.form-container .input-container input {
    outline: none;
    user-select: none;
    background-color: #141414;
    padding: 6px 12px 6px 12px;
    border: 1px solid #D30404;
    border-radius: 4px;
    color: white;
    width: 100%;
}

.form-container textarea {
    outline: none;
    user-select: none;
    background-color: #141414;
    padding: 6px 12px 6px 12px;
    border: 1px solid #D30404;
    border-radius: 4px;
    color: white;
    width: 100%;
    grid-column: span 2;
}

.form-container button {
    background-color: #141414;
    padding: 6px 12px 6px 12px;
    border: 1px solid #D30404;
    border-radius: 4px;
    color: white;
    display: flex;
    width: 40%;
    display: flex;
    justify-content: center;
    grid-column: span 2;
}

/* Responsive */
/* XL */
@media (min-width: 992px) and (max-width: 2560.98px) {

    .form-container {
        width: 40%;
    }
}