/* GAME SECTION */
.game-section {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    margin-bottom: 32px;
    gap: 24px;
}

.game-section .game-title-container h1 {
    font-size: 42px;
    color: #FFFFFF;
    font-weight: 400;
    padding: 24px;
}

.game-section .games-container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 42px;
    gap: 40px;
}

.game-section .games-container div {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 420px;
    z-index: 1;
}

.game-section .games-container div a {
    position: relative;
    display: flex;
    transition: transform 0.3s;
}

.game-section .games-container div a picture {
    height: 100%;
    width: 100%;
}


.game-section .games-container div a picture img {
    width: 420px;
    height: 260px;
    border-radius: 8px;
    object-fit: cover;
    transition: transform 0.3s;
}

.game-section .games-container div a:hover {
    transform: scale(1.1);
}

.game-section .games-container div .game-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.game-section .games-container div div p {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 300;
}

.game-section .games-container div a {
    text-decoration: none;
}

.game-section .games-container div a picture .discount {
    background: #D30404;
    color: #FFFFFF;
    width: 15%;
    padding: 5px 6px 6px 7px;
    border-radius: 5px 5px 0;
    position: relative;
    z-index: 2;
    bottom: 30px;
}


/* Responsive */
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* Game section */
    .game-section .games-container {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
  }


  @media (min-width: 768px) and (max-width: 991.98px) {
/* Game section */
   .game-section .games-container {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    }

    .game-section .games-container div {
        max-width: 320px;
    }

    .game-section .games-container div a picture img {
        width: 320px;
    }
}